<form action="">
    <p>
        Lorem 
        
        <label class="tooltip">
            ipsum        
            <input type="checkbox">
            <span>
                quisquam cum repellat quidem!
            </span>
        </label> 
        
        dolor sit amet consectetur adipisicing elit. Tenetur, animi 
        ullam laboriosam alias velit at soluta eius eaque harum, ea earum non est, ex facere? 
        Unde quisquam cum repellat quidem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere fugiat perspiciatis, distinctio natus eius optio soluta voluptate assumenda eligendi in vero animi consequuntur provident itaque inventore voluptates ullam expedita ipsa.
    </p>
    <h1>Set your preferences</h1>
    <label class="preferencelabel">
        <input type="checkbox" name="email">
        <div></div>
        Newsletter
    </label>
    <label class="preferencelabel">
        <input type="checkbox" name="notifications" checked>
        <div></div>
        Notifications
    </label>
    <label class="preferencelabel">
        <input type="checkbox" name="alerts">
        <div></div>
        Email Alerts
    </label>


    <h1>Set your preferences</h1>
    <div>

    </div>
    <label class="preferencelabelradio">
        <input type="radio" name="email">
        <div></div>
        Newsletter
    </label>
    <label class="preferencelabelradio">
        <input type="radio" name="email" checked>
        <div></div>
        Notifications
    </label>
    <label class="preferencelabelradio">
        <input type="radio" name="email">
        <div></div>
        Email Alerts
    </label>

</form>


