<div class="background_image">
    <img src="../../assets/thanksgiving.jpg" alt="thanksgivingimage">
    
</div>
<main>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rerum, error quidem vel a alias culpa accusamus fuga deserunt molestias, repudiandae aliquam quae commodi? Accusamus laudantium reprehenderit natus suscipit quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vitae, distinctio velit blanditiis iure excepturi quam cumque fuga laboriosam in, error dolore obcaecati at, amet magnam voluptate. Iste, vero dolore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita asperiores illo rerum aperiam assumenda iste id ipsum perspiciatis hic! Necessitatibus magnam sint adipisci tempora sapiente maxime officia odio quos enim?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum eaque, voluptatibus minus quae odit odio esse ducimus quos ullam inventore in, ex porro delectus obcaecati aliquid architecto voluptatem natus est!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae facilis, temporibus ut vitae alias consectetur voluptas eligendi quas incidunt, explicabo ad expedita, corrupti officia? Repellendus, harum nesciunt! Suscipit, non explicabo?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque nihil libero repudiandae, atque odio ratione recusandae accusantium perspiciatis doloribus ducimus unde dignissimos asperiores debitis non distinctio, fugit neque doloremque voluptatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut recusandae dolorum assumenda voluptatum nihil ipsam praesentium necessitatibus inventore minima nesciunt. Amet, debitis sit. Possimus ullam molestiae nobis doloremque, blanditiis illo?
    </p>
    
</main>

