<section>
  <h4>
    Leejia James <br>
    Interests: Web Development | Front End Development | Data Science | Machine Learning
  </h4>
  <p>Masters student, Computer Science, The University of Texas at Dallas (Fall 2017 - *) <br><br>
    Summer 18: User Interface Developer Intern <br><br>
    Fall 17 and Spring 18: Instructor, CS Outreach Program <br><br>
    Previously: Technology Analyst, Infosys Limited, India - Mainframe Developer, Web UI Developer, Educator (Aug 2011 - Jan 2017)</p>

    <a class="btn" href="https://www.linkedin.com/feed/" target="_blank">Learn More</a>
    <a class="btn" href="#">Learn More</a>
    <a class="btn" href="#">Learn More</a>
    <a class="btn" href="#">Learn More</a>
    <a class="btn" href="#">Learn More</a>
</section>
